@{
    ViewBag.Title = "Home Page";
}
<div id="container">
    <div id="prod_wrapper">
        <div id="panes">
          
                <img src="~/Content/img/demo/1.jpg" alt="">
                <h2>Mauris elementum</h2>
                <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam. </p>
                <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> </p>
           
            
        </div>
        <!-- END tab panes -->
        <br clear="all">
        <!-- navigator -->
        <div id="prod_nav">
            <ul>
                <li><a href="#1"><img src="~/Content/img/demo/1.jpg" width="160" alt=""><strong>Class aptent</strong> $ 199</a></li>
                <li><a href="#2"><img src="~/Content/img/demo/2.jpg" width="160" alt=""><strong>Sed dui risus</strong> $ 125</a></li>
                <li><a href="#3"><img src="~/Content/img/demo/3.jpg" width="160" alt=""><strong>Pellentesque quis</strong> $ 480</a></li>
                <li><a href="#4"><img src="~/Content/img/demo/4.jpg" width="160" alt=""><strong>Mauris elementum</strong> $ 1099</a></li>
                <li><a href="#5"><img src="~/Content/img/demo/5.jpg" width="160" alt=""><strong>Cras et malesuada</strong> $ 99</a></li>
            </ul>
        </div>
        <!-- END navigator -->
    </div>
    <!-- END prod wrapper -->
    <div style="clear:both"></div>
    <div class="one-third">
        <h2>Business Solutions</h2>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida.</p>
        <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Find out more</a></p>
    </div>
   
    <div class="one-third">
        <h2>Latest News</h2>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida.</p>
        <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Read Article</a></p>
    </div>
    <div style="clear:both"></div>
    
    <div class="one-half">
        <div class="heading_bg">
            <h2>About Us</h2>
        </div>
        <blockquote>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. </blockquote>
        <p style="text-align:right; margin-right: 16px; margin-bottom: 15px"><a href="#" class="button" style="font-size: 18px">Find out more</a></p>
        
    </div>
    <div class="one-half last">

    </div>
    <div style="clear:both; height: 40px"></div>

</div>

